# Backend Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env

# Ignorar ambientes virtuais em qualquer lugar
venv/
.venv/

# Frontend Node/React
frontend/node_modules/
frontend/.env

# Dados e arquivos temporários
data/
*.sqlite3
*.db

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
*.log
.env
